[2019-01-10 13:23] tony-shannon opened #6 "PulseTile React Admin exploration - document"
see here
https://docs.google.com/document/d/1t7ql2R6EhiJZUM-mAtY-a5WX5PoYvyEcKjJLTzG2kwM/edit?usp=sharing

[2019-01-10 13:50] tony-shannon opened #7 "URL handling for Patient/{idnumber}/Allergy/{allergyID} etc-- RA Resource within Resource"
A URL handling
We have this URL
http://showcase.ripple.foundation/#/patients/9999999000/medications/fabbad80-08cc-43d1-8552-9a6aa3f044a5?page=2&source=marand

So we have one RA Resource Medication - within another RA Resource - Patient

Our RA Data provider needs to be amended to handle this
Around here
https://github.com/PulseTile/PulseTile-RA/blob/develop/src/core/dataProviders/dataProvider.js#L

[2019-01-10 13:52] tony-shannon opened #8 "Enable List Table alongside Detail View"
![image](https://user-images.githubusercontent.com/939996/50972540-d330d980-14de-11e9-9a53-e5c4016103b3.png)

See B
List Table alongside Detail Views
To show List (table) beside the Detail view
We need Path to create custom RA List component with route for RA Show view?

As React router (?) supports nested routes
? https://reacttraining.com/react-router/web/guides/quick-start  (?check this is the

[2019-01-10 14:12] tony-shannon commented on #7
FAO @BogdanScherban & @fzaninotto

[2019-01-10 14:13] tony-shannon commented on #8
FAO @BogdanScherban & @fzaninotto

[2019-01-15 09:36] BogdanScherban commented on #8
Hi, @tony-shannon  and @fzaninotto

There are two ways how to add Details alongside the Table.

1) React-admin has a special feature for this. It adds expand button to the table row. Details block is appearing when user clicks on the expand button (video below).
https://drive.google.com/file/d/1nCzkt-HrvvoXVTsi3anyjpzydOU-e06C/view?usp=sharing

The main **advantage** of this was is it's simplicity

[2019-01-15 10:05] BogdanScherban commented on #7
Hi, @tony-shannon and @fzaninotto

This is API URL, which is necessary to take response with real data. This isn't URL of web page.
${domainName}/${apiPatientsUser}/${resource}

Details block can be shown by two ways:
1) at the same page, below selected table row (look https://github.com/PulseTile/PulseTile-RA/issues/8)
URL: {domain name}/#/allergies

2) at separate details page. We can come to th

[2019-01-15 10:10] fzaninotto commented on #8
Hi Bogdan,

The second way is not that hard, really. It only requires adding a Route in the List (see how I did it in this CodeSandbox: https://codesandbox.io/s/5z9n36qy5x. It needs styling to display the Edit view on the right rather than below the datagrid, but you get the idea). And you can still use the Edit or Show components without change.

[2019-01-15 12:56] fzaninotto commented on #7
I'm not sure I understand what @BogdanScherban says. The original issue is about how to reach API routes that use a subresource path, not about any frontend feature. To answer this issue, the `dataProvider` must be amended.

[2019-01-15 13:45] tony-shannon commented on #7
thanks @fzaninotto ,

I dont understand @BogdanScherban point either, but I guess I am also unsure if we have an issue with this.

My notes from our call suggested we would have a problem calling a "Resource within a Resource" in React admin, such as an allergy record within a patient record, .. hope you recall related discussion?

So far Bogdan seems to have been able to handle this challenge fro

[2019-01-15 14:06] BogdanScherban commented on #8
This issue has been done. Link to PR:
https://github.com/PulseTile/PulseTile-RA/pull/10

[2019-01-24 16:23] BogdanScherban opened #14 "Table list behavior"
Behavior of table list should be similar to Showcase:
http://showcase2.ripple.foundation/#/patients/9999999061/allergies/

1) Click on row opens Details block in right of Table;
2) Click on Edit opens Edit form instead of Details block;
3) Click on Cancel returns to Details block;
4) Click on Create open Create form instead of Details block.

[2019-01-24 16:43] BogdanScherban commented on #14
@tony-shannon @fzaninotto

I realized this behavior in RA (for Allergies). Results on the video:
https://drive.google.com/file/d/1-2oZvZS0Iq9Heao2c-PeDZGeye6BntYy/view?usp=sharing

But I need in @fzaninotto advice:

1) I didn't find a way how to customize following elements: **SaveButton**, **ListButton** and **Pagination**.

In first two cases I want to rename buttons and change them icons.
In th

[2019-01-25 15:41] fzaninotto commented on #14
Here are my answers:

1. All action buttons accept a `label` and an `icon` prop since react 2.5.0. So it should be straightforward. As for the pagination, the Pagination component doesn't offer the ability to hide arrow buttons, so you'll have to write your own Pagination component from scratch. But maybe it's better to show them, @tony-shannon ?
2. Try using a `<DateField disabled />`
3. Instead,

[2019-01-25 16:08] tony-shannon commented on #14
I see no issue with leaving the arrow buttons , so show them please

[2019-01-25 16:09] tony-shannon commented on #8
closing this issue, thanks

[2019-01-25 16:09] #8 closed

[2019-01-25 16:10] tony-shannon commented on #7
am going to close this issue for now, can reopen if needs be

[2019-01-25 17:32] BogdanScherban commented on #14
@fzaninotto

Thanks, Francois!

I've already customize List and Save buttons and added <DateField disabled />.
Now I'm working on common components for Edit/Create/Show/List (item 3).

On Monday I hope finish this issue and  create PR for it.

[2019-01-25 17:50] BogdanScherban opened #15 "List filter"
@fzaninotto

Francois, I need in your advice in this issue.

I tried to add filter to our **List**. But this filter should be differ on initial React-admin filter. It should be similar to Showcase filter. It work principle is shown at the video:
https://drive.google.com/file/d/10yAt_ZtPf-Ljw49RP1ZCMzZI5N1yterX/view?usp=sharing

My solution looks approximately like this:

[code]

In **MyCustomDatag

[2019-01-28 15:40] BogdanScherban commented on #14
Pull request for this issue:
https://github.com/PulseTile/PulseTile-RA/pull/16

[2019-01-29 17:42] BogdanScherban commented on #15
Thanks, @fzaninotto ! It works!!!

[2019-01-29 17:42] BogdanScherban commented on #15
@tony-shannon @fzaninotto
I created PR for this issue:
https://github.com/PulseTile/PulseTile-RA/pull/17

[2019-01-30 10:09] kuvakina opened #18 "Add Contrast Mode"
We should add Contrast Mode for RA, as we have in Helm and by clicking on it the app became bw: https://www.screencast.com/t/OqhCxPDg

Approx. estimate time: 4-5h

[2019-01-30 11:12] kuvakina opened #19 "Add Feeds"
In Helm we have Feeds (with news from Leeds Live or other  sources): https://www.screencast.com/t/nH05jzRUep1

We should add it to RA also.

Approx. estimate time: 8-10h (we can tell more accurate time, when server part would work)

[2019-01-30 11:13] kuvakina opened #20 "Add User Panel as in Helm"
We should add to RA User Panel like in Helm: https://www.screencast.com/t/6gn4AHS2FN

Approx. estimate time: 3h

[2019-01-30 11:14] kuvakina opened #21 "Add High Contrast mode in Footer"
Add Fotter to RA as in Helm, with contrast mode: https://www.screencast.com/t/iSudf61sx3

Approx estimate time: 4h

[2019-01-30 11:16] kuvakina opened #22 "Add Advanced Search to Top Bar."
Like in Showcase we have Top bar with advanced search: https://www.screencast.com/t/gTEzvPp1uVC

Approx. estimate time: 6-8h

[2019-01-30 11:17] kuvakina opened #23 "Add Patient Lists Filter"
In Showcase we have this filter in Patient Lists: https://www.screencast.com/t/wijoeYiL

Approx. estimate time: 6-10h

[2019-01-30 11:18] kuvakina opened #24 "Add Plugins (Simple)"
In Showcase we have these similar plugins:
- Documents
- Orders
- Test Results
- Procedures
- Clinical Notes
- Clinical Statements
- Personal Notes
- Drawings
- Referrals
- MDT / Generic MDT
- Transfers of Care

Approx. estimate time: 8-10h

[2019-01-30 11:19] kuvakina opened #25 "Add Plugin Event."
In Showcase we have plugin Events. He’s bit different from others, as it has this extra menu: https://www.screencast.com/t/oC3cIGaV8BR & https://www.screencast.com/t/kJ7uSjwVwXnh

Approx. estimate time: 6-8h

[2019-01-30 11:20] kuvakina opened #26 "Add Plugin Vitals - News"
In Showcase we have plugin Vitals - News. He’s bit different from others, as it can switch to chart: https://www.screencast.com/t/VMpWg4Vlf

Approx. estimate time: 6-8h

[2019-01-30 11:21] kuvakina opened #27 "Add Plugin Images"
In Showcase we have plugin Images. He’s a bit different from others, as it has/can insert images: https://www.screencast.com/t/wqU842Lhw

Approx. estimate time: 6-8h

[2019-01-30 11:47] BogdanScherban commented on #18
@fzaninotto

Francois, could you please give me advice according to this issue?

Contrast mode should be tobble by the button in Topbar like it was at ReactJS Helm version:
https://drive.google.com/file/d/19sZObYslDJb2MASCBEEY1Wvjy66PU7yO/view?usp=sharing

I created actions, reducer and sagas which provide toggling of contrast mode parameter in Store.

But I don't know, how to provide changing of

[2019-01-30 14:35] BogdanScherban commented on #20
This issue is ready to review.

[2019-01-30 14:59] BogdanScherban commented on #18
@fzaninotto
Thanks, Francois! It works!!!

[2019-01-30 15:58] BogdanScherban opened #29 "Sidebar menu changes"
1) On Charts and Patients pages menu consists of two items: Charts and Patients
2) On Patient Summary and plugins pages: Charts and Patients should be hidden

[2019-01-31 16:55] BogdanScherban commented on #29
The issue has been done. PR is ready to review.

[2019-02-01 16:35] kuvakina commented on #15
@tony-shannon @PhilBarrett can we consider this as Done?

[2019-02-01 16:42] kuvakina commented on #29
@tony-shannon @PhilBarrett this issue is done. Can we close it?

[2019-02-01 21:18] PhilBarrett commented on #18
Looks good. @kuvakina if replicating behaviour in React version, I believe you can toggle in via the footer as well.

[2019-02-04 08:47] BogdanScherban commented on #29
@kuvakina
No yet, because it hasn't been reviewed by Francois.

[2019-02-04 10:50] kuvakina commented on #18
We added it in this issue: https://waffle.io/RippleOSI/combined-development-view/cards/5c518734851b7604e99c567b

[2019-02-04 11:07] kuvakina commented on #29
ok, @BogdanScherban thank you. Then will wait for A review from @fzaninotto

[2019-02-05 10:23] BogdanScherban opened #33 "Login via OpenID"
@fzaninotto @tony-shannon

Login to RA should be done via Open ID service. I tried to solve this issue by two ways, but I'm not satisfied of both results.

Francois, we need in your advice how to realize following login principle (if it can be done generally):

1) User want to pass to our project by any URL (for example, {domain name}/#/{start page}
2) RA run a request **/api/initialise** to the s

[2019-02-06 09:13] fzaninotto commented on #33
Neither of the two solutions you propose follow the react-admin way, which uses Redux actions and the authProvider. Here is what I suggest.

If the user opens any page of the app, the app will call the API without credentials. The API should return something like a 401 or 403. This kind of HTTP error can be caught by the authProvider (see https://marmelab.com/react-admin/Authentication.html#catchi

[2019-02-06 09:33] BogdanScherban commented on #33
@fzaninotto
Thanks, Francois. I was sure that React-Admin can do this by initial functionality.

[2019-02-06 17:33] tony-shannon commented on #33
I've asked Rob Tweed who developed our middle tier Qewd-Courier to comment on this;

[2019-02-07 16:25] BogdanScherban commented on #33
@fzaninotto @tony-shannon

Francois, I read the manual and tried to do this. But unfortunately, I didn't reach required result...
Could you please show my solution.

What should we do:
1) Run api/initialise;
2) Take redirect URL to open ID
3) Input login and password
4) Redirect to RA
5) Run /api/initialise until we have response { status: 'loading_data', new_patient: true/false }
6) When response

[2019-02-07 16:33] BogdanScherban commented on #33
The second way isn't liked for me, but I describe it:
[code]
InitializePage:
[code]

And authProvider:
[code]

But in this case we have a lot of problem with async functions, like:
[code]

[2019-02-07 18:56] kuvakina commented on #19
The issue has been done. Results on the video:
https://drive.google.com/file/d/1g4KB3NBYDNhqofpUX87FjP5Blcpbbk6E/view

[2019-02-08 14:09] fzaninotto commented on #33
[code]

[2019-02-08 14:27] tony-shannon opened #37 "Moving from cloning code in /version to better compostion of generic components"
Here is how I advise handling the override by versions over core:

[code]
This can be done in a future PR.

https://marmelab.com/react-admin/Theming.html#using-a-custom-layout

[2019-02-08 14:28] tony-shannon opened #38 "use React Router for submenu choice"
as per discussion in #31

https://github.com/PulseTile/PulseTile-RA/pull/31#discussion_r254193858

[2019-02-08 14:40] tony-shannon opened #40 "github branching ideas"
![image](https://user-images.githubusercontent.com/939996/52484963-798bff80-2baf-11e9-8611-02b46b6378fc.png)

[2019-02-08 14:41] fzaninotto commented on #40
http://scottchacon.com/2011/08/31/github-flow.html

[2019-02-08 18:02] tony-shannon commented on #33
@fzaninotto looks like your help/tips/advice have helped !
@BogdanScherban has hooked login via openID into App
more work to do Monday but important progress, thanks!

[2019-02-11 14:10] BogdanScherban commented on #33
@fzaninotto

Hi, Francois! Last Friday I realized method 1 with userLogin() inside InitialPage component and it works correctly.

Today I'm trying to realize method 2 (with initialization inside authorization provider) according to your example. But, unfortunately I can't make promises works as it is necessary...

When I use like this one, /api/initialize request run only one time, and we don't pa

[2019-02-11 17:42] tony-shannon commented on #7
going to reopen this as relevant again I think

[2019-02-11 17:51] BogdanScherban commented on #7
@fzaninotto
Francois, can we do in RA following.

Right now we have URL for Allergies list page like:
{domainName}/#/allergies

This list is created by Resource-component of RA. But can we change the URL like:
{domainName}/#/patients/{patientID}/allergies ?

As I understand, RA parses URL and search resource name there. Can RA functionality gives possibility to customize the URL for lists?

[2019-02-11 18:33] fzaninotto commented on #7
The URLs shown in the Browser bar are made by in react-admin, and these URLs can't be customized.

So this route

Can't be managed by react-admin

However, it doesn't force you to use the same URLs when you call the API. So it's totally possible to call this route:

on the API

[2019-02-11 18:43] fzaninotto commented on #7
In the browser, the first part of the URL you want to handle

is the Edition form for the Patient resource:

That means you can add a `<Route>` inside the `PatientEdit` component to catch the `/patients/{patientID}/allergies` URL:

[code]

[2019-02-11 20:43] tony-shannon commented on #7
Just to be clear we should not be trying to use a URL like
https://apple-cake.ripple.foundation/index.html#/patients/{patientID}/allergies

The photo attached should explain the current API structure
![image](https://user-images.githubusercontent.com/939996/52592070-5fffe780-2e3d-11e9-9a8b-7df42294968d.png)

We just need to avoid any server side changes, but should follow good practice on the Reac

[2019-02-11 20:45] tony-shannon commented on #7
![image](https://user-images.githubusercontent.com/939996/52592288-ec120f00-2e3d-11e9-99b0-84be80bf640d.png)

![image](https://user-images.githubusercontent.com/939996/52592243-cd137d00-2e3d-11e9-9b15-c790e586fd8d.png)

[2019-02-11 21:45] fzaninotto commented on #7
I'm confused, you say:

But I understand:

The API structure can be totally different from that.

[2019-02-14 14:30] kuvakina commented on #29
This issue is Done, @tony-shannon @PhilBarrett could you review please?

[2019-02-14 16:43] BogdanScherban opened #44 "Responsive markup"
It is necessary to provide responsive markup for these pages:
![image](https://user-images.githubusercontent.com/39263134/52802331-633ae380-3088-11e9-8eea-170f4b4bcab3.png)
![image](https://user-images.githubusercontent.com/39263134/52802359-764db380-3088-11e9-88c2-f49169274184.png)

[2019-02-19 00:06] tony-shannon opened #49 "set up for 3 PT projects versions for PT-RA"
need to be able to accommodate
Helm
NES Scotland
Showcase
from PT RA base version

[2019-02-19 10:43] tony-shannon commented on #49
@BogdanScherban to update here about his ideas to use https://github.com/lerna/lerna for this challenge

[2019-02-19 11:24] tony-shannon commented on #40
As per discussion, @BogdanScherban will start to
use master branch as baseline,
use feature branches per issue
produce version branches, related to release versions
update repo with releases, linked to features & related commits

One PR per feature, try to keep code independent
WIll merge PRs soon as we can
Be prepared to revert to earlier commit if problems/mistakes made

[2019-02-19 12:05] BogdanScherban commented on #49
@tony-shannon @fzaninotto
I want to describe my understanding of this issue.

We should create new project via Lerna. The project will have following structure:
[code]

So, we should create set of packages for Core, plugins, features etc.
These packages should be imported in version files, for example:
[code]

So, I should find a way, how to do following:
1) How to create new packages from Core, p

[2019-02-19 12:34] fzaninotto commented on #49
One question: why do you split the base code into so many packages? Why not a single `core` package? I don't understand the rationale for splitting plugins and features from the core.

[2019-02-19 13:11] BogdanScherban commented on #49
@fzaninotto
I want to do this because different versions will have different set of plugins:

helm = Core + (Vaccinations + TopThreeThings + Feeds)
scotland = Core + ReSPECT (plugin, will be done in future)
showcase = Core + all possible plugins
etc.

[2019-02-20 15:18] fzaninotto commented on #49
You can achieve this even if the plugins live in the same package as the core. The difference will be, e.g. in Helm:

[code]

I think it's better for app developers, and I don't see the benefit for you of having plugins listed as different packages.

[2019-02-20 15:18] fzaninotto commented on #49
Sorry, wrong button, I closed the issue by mistake.

[2019-02-20 16:33] BogdanScherban commented on #49
@fzaninotto
Francois, I tried to create project via Lerna, but probably, I don't quite understand how Lerna works. Could you please tell me, what I did wrong?

I did following:
1) Create new project by **lerna init**
2) Added new package **pulsetile-core**
3) Installed all required dependencies by **lerna bootstrap**
4) Created new project by **npm create-react-app helm**
5) Try to import **pulset

[2019-02-21 09:43] fzaninotto commented on #49
Create-react-app isn't yet perfectly compatible with lerna, and that may be the cause of your issue. Here is how we usually do:

- setup lerna as you did. Make sure the `lerna.json` allows lerna to find your pulsetile-core package
- we generate the CRA apps locally (ie cd versions && create-react-app helm)
- we then install dependencies globally (ie cd ../ && yarn)

Preferably use yarn over npm as

[2019-02-21 10:43] BogdanScherban commented on #49
@fzaninotto
Francois, I tried to solve the issue by this way:
1) removed helm
2) created helm by cd versions && create-react-app helm
3) installed dependencies globally by yarn (cd ../ && yarn)

Result is the same - module 'pulsetile-core' is unavailable. I saved results in my fork:
https://github.com/BogdanScherban/PulseTile-Lerna

Could you please checkout it if you will have free time?

[2019-02-21 10:48] BogdanScherban opened #53 "Create Release 1"
New features:
- diagnosis and synopsis
- responsive design for Patient Summary and List/Show/Create templates

[2019-02-21 11:07] fzaninotto commented on #49
In the lerna.json, try adding the `versions/*` as packages, so that lerna knows about your helm project

[code]

[2019-02-21 13:40] BogdanScherban commented on #49
@fzaninotto

Thank, Francois - it helps! I moved **helm** to packages, and **pulsetile-core** can be found here.

Right now I try to render Core:

1) I run **npm start** in **helm**;
2) I have a result:
![111111111111](https://user-images.githubusercontent.com/39263134/53172679-99c7af80-35ee-11e9-8c4e-95eabdb38023.png)

I tried few variants:
[code]
or
[code]

[2019-02-21 14:02] fzaninotto commented on #49
Why did you move helm to packages? If you modify the lerna.json as I explained, it's not necessary.

The bug is due to ES6 not being transpiled by babel in the core. You probably need to build (=transpile) the core code first, then run the helm project.

[2019-02-21 16:16] BogdanScherban commented on #49
@fzaninotto
Francois, I moved versions/helm back to root - yes, it was useless. Pulsetile-core is available.

But how can I transpile core?
In https://github.com/marmelab/react-admin/tree/master/packages each package use:
[code]

Unfortunately, this file in gitignore. But what should be here?

[2019-02-21 16:32] fzaninotto commented on #49
In react-admin, each package is transpiled by TypeScript (Babel in your case) from ES6 to ES5. See the `scripts` section of the `package.json` of each package for details. You need to set up a build task for the core, too. If you don't know how to do that, read the babel.js documentation.

No need to do that in HELM -  Create React App does it on its own.

[2019-02-21 17:19] BogdanScherban commented on #49
@fzaninotto

Francois, it works!!!!! I saved the latest version:
https://github.com/BogdanScherban/PulseTile-Lerna

I take react-admin as example and added also two commands, to copy images directories for core and for version parts.

[2019-02-21 17:49] fzaninotto commented on #49
One thing I don't understand is the remaining "versions" in "core". What is it for?

[2019-02-22 09:53] BogdanScherban commented on #49
@fzaninotto

Francois, do you mean this "version" directory?
https://github.com/BogdanScherban/PulseTile-Lerna/tree/master/packages/pulsetile-core/src

At this stage it was necessary to understand, how Lerna works generally. For this reason I used current version of our project, which consists of two parts - core/ and version/ (for non-core plugins, features, config files etc.)

In future version/

[2019-02-22 10:04] tony-shannon commented on #49
https://github.com/BogdanScherban/PulseTile-Lerna/tree/master/packages/pulsetile-core/src

I'm sure thats what Francois meant

[2019-02-22 14:24] BogdanScherban opened #55 "Lerna - add non-core elements to version."
In initial idea, pulsetile-core package includes only Core part of project (without non-core plugins, with default styles etc.). All non-core plugins should be located separately and be added to Core in versions, where they should be presented.

But our plugins aren't self-sufficient components. We can unite all plugin files to separate directory but we can't build it as package.
For example, lets

[2019-02-22 14:51] fzaninotto commented on #49
I understand that "versions" is only there temporarily and that you'll eventually remove it, I'm OK with that.

[2019-02-22 15:02] fzaninotto commented on #55
Third way: create only one package and store eveything in it, including plugins.

There must be something I don't understand about your publishing strategy, because I don't see any advantage in releasing the code split across several packages, whether for the development team (you) or the integrators.

[2019-02-22 16:08] BogdanScherban commented on #55
@fzaninotto

OK, but different version will have different plugins lists.
It will be necessary to hide all plugins, which shouldn't be in current version.

Can we solve this by the way:
1) Create one package with all possible plugins, pages and features;
2) Create something like config file in version, like:
[code]
and
[code]
and hide all plugins, which are absent in config.js.

Can we use this wa

[2019-02-22 17:37] kuvakina opened #56 "Apple-cake functionality issues"
Below I added functional issues (and I'll update it more):

| Functionality | Styles | Status | Comment | Details |
| --------  | -------- | --------  | ------------- | --- |
| SignIn/LogIn with email and password |   |  working  |   | User can login successfully by using their email and password |
| SignIn/LogIn - confirmation sms |    | absent |   | After user fill in their email and password he

[2019-02-22 18:33] fzaninotto commented on #55
I realize I don't know what a version is. I though, from the other discussion, that versions were to be removed? Now you tell me they are here to stay, I'm confused.

[2019-02-25 13:53] BogdanScherban opened #58 "Add logout via api/logout"
@fzaninotto

Francois, this is PR for logout process:
1) User click on logout button;
2) Run api request to api/logout
3) Server should return request with redirectURL
4) Clean token from COOKIE and remove userId from localStorage
5) Redirect to URL from request

[2019-02-27 10:18] #15 closed

[2019-02-27 10:20] PhilBarrett commented on #21
@BogdanScherban can you reference the PR please so we can close off

[2019-02-27 10:21] PhilBarrett commented on #20
@BogdanScherban can you reference the PR here please.

[2019-02-27 10:23] PhilBarrett commented on #18
Checked and linked with https://waffle.io/RippleOSI/combined-development-view/cards/5c5177f1085f6a0563ddf557 which is complete so closing

[2019-02-27 10:23] #18 closed

[2019-02-27 10:23] PhilBarrett commented on #21
Linked to issue https://waffle.io/RippleOSI/combined-development-view/cards/5c5177f1085f6a0563ddf557

[2019-02-27 10:24] PhilBarrett commented on #29
@kuvakina can you ensure the PR and testing is completed and referenced before we close this please.

[2019-02-27 10:35] #19 closed

[2019-02-27 21:21] kbeloborodko commented on #40
Hi, @tony-shannon, @fzaninotto, @BogdanScherban, I have read the comments and looked through the suggested [article](http://scottchacon.com/2011/08/31/github-flow.html). We have been using gitflow for PulseTile development for quite a while and it turned out to be working pretty well. The simplified approach that is described by Scott Chacon also does make sense, however it is more appropriate, in

[2019-02-27 22:02] kbeloborodko commented on #49
Hi, @tony-shannon, @BogdanScherban, @fzaninotto I have circled through Lerna's documentation and examples a couple of times and I am not sure considering the benefit of its usage for PulseTile project. If there is going to be only 1 core package like @fzaninotto suggested and Helm, NES Scotland and Showcase would be just a combination of plugins imported from core than there would be nothing that

[2019-02-28 16:20] tony-shannon commented on #49
thanks @kbeloborodko
We need to be clear on naming and language here

The core, -- key core reusable components - used in every project
The plugins-- additional components- used in some projects

Projects, which combine core + plugins + modify (extend/constrain) these components..
.. which I understand in React Admin (lerna based ) library are handled in /examples

[2019-02-28 16:37] fzaninotto commented on #40
I think that having formal releases on a long term interval isn't really suited to PulseTile as it is now (if I understand correctly, in early stage, and not used by many real customers). So the extra protocol implied by gitflow is just time lost at this stage.

If you're more comfortable with git flow and you feel that you can develop faster with it, then I'm fine with your using it - as long as

[2019-02-28 16:54] fzaninotto commented on #49
@kbeloborodko You're right, if all the code for the core and the plugins live inside one single package, we need monorepos (to help manage several package.json, and yarn does that well) but not lerna (which only serves to synchronize the publication of several packages on npm).

Let me reformulate : yarn allows to have several sub packages (each with its own package.json) inside a single repo. So

[2019-03-01 11:34] PhilBarrett commented on #56
Can you add some more background detail please and link with t https://waffle.io/RippleOSI/combined-development-view/cards/5c791211396b6602620eb51b

[2019-03-01 11:36] PhilBarrett commented on #33
@BogdanScherban can you confirm this is now working please?

[2019-03-01 16:55] kuvakina commented on #56
This issue linked to the issue https://github.com/LeedsCC/Helm-PHR-Project/issues/105

[2019-03-01 17:14] kuvakina commented on #21
@PhilBarrett so could we also close this issue?

[2019-03-01 17:20] #21 closed

[2019-03-04 14:41] BogdanScherban opened #59 "ReSPECT-plugin (section 7)"
Hi, @fzaninotto
Francois, could you please give me advice about this issue?

I want to create form with this element:
![0000001](https://user-images.githubusercontent.com/39263134/53738666-7f1bf300-3e98-11e9-9c77-c18b3e4f55ae.png)

We can fill all fields, click on Add New, and new row will be occurred in the table:
![image](https://user-images.githubusercontent.com/39263134/53738744-b1c5eb80-3e98-

[2019-03-05 09:43] fzaninotto commented on #59
I think the UI differs significantly with what ArrayInput offers, so I'd advise against solution 1.

In solutions 2 and 3, I don't know what a Section is, I don't know what TableWithRows is, so I can't tell you what's wrong with this snippet. Besides, instead of "addRow" or "changeValue", I advise you to name functions based on the domain (e.g. addSignature, saveSignature), that would make your co

[2019-03-05 14:11] BogdanScherban commented on #59
@fzaninotto
Thanks, Francois.

About Sections. This plugin consists of 10 sections. Each section has a form. Please, look at this video: https://drive.google.com/file/d/1d6y7McITdp16Dl2KvLWi8K4SD2EvD4cT/view?usp=sharing

For each section I created template:
https://github.com/PulseTile/PulseTile-RA/blob/scotland/src/version/pages/ReSPECT/fragments/MainFormBlock.js

The children for this template i

[2019-03-05 16:02] fzaninotto commented on #59
Exactly. SimpleForm does some decoration and has its own onSave. If you handle save yourself, just use redux-form or plain React.

[2019-03-06 12:08] BogdanScherban commented on #58
This issue has been done. PR was approved by Francois and merged to develop.

[2019-03-06 12:08] #58 closed

[2019-03-06 12:12] BogdanScherban commented on #44
This issue has been done. PR was approved by Francois and merged to develop

[2019-03-06 12:12] #44 closed

[2019-03-06 12:13] BogdanScherban commented on #33
This issue has been done. PR was approved by Francois and merged to develop.

[2019-03-06 12:13] #33 closed

[2019-03-06 12:14] #14 closed

[2019-03-06 12:17] BogdanScherban commented on #29
PR was approved by Francois and merged to develop.

[2019-03-06 12:17] #29 closed

[2019-03-07 14:23] PhilBarrett commented on #49
@kbeloborodko could you take a look and come back to Francois asap please

[2019-03-07 16:08] BogdanScherban commented on #59
This issue has been done.

[2019-03-07 16:08] #59 closed

[2019-03-07 16:27] BogdanScherban opened #60 "Patients List - manually or via RA-functionality."
@fzaninotto
Hi, Francois! Could you please give me an advice about new issue?

Current project has Patients list, which was done by RA component Resource:
https://github.com/PulseTile/PulseTile-RA/blob/master/src/core/pages/PatientsList.js

It workable, but when I start working with Scotland project, I found a problem.

Scotland project should have patients list as a homepage. User should be redir

[2019-03-08 13:27] fzaninotto commented on #60
You can pass the props that the List normally gets from the URL directly:

[code]

[2019-03-10 15:28] kbeloborodko commented on #49
Hi, @fzaninotto, yes it does make sense.

From my point of view, it is indeed easier if we had an opportunity to import the necessary components, core or non-core from one place opposed to a workflow when we need to grab them from different places (packages).

However, from the business standpoint, we were separating those for a while and there were different reasons behind this decision: starting

[2019-03-11 11:02] BogdanScherban commented on #60
@fzaninotto
Thanks, Francois!

[2019-03-11 14:28] PhilBarrett commented on #56
We are now using Apple-Cake to test the old version of PulseTile React for Helm only.

[2019-03-11 14:30] PhilBarrett commented on #40
@kbeloborodko Are you ok with this?

[2019-03-11 16:46] tony-shannon commented on #49
thanks both @fzaninotto  and @kbeloborodko for your considered views on this.. a good and important discussion for us..

In summary its seems you both agree and share the view that a monorepo could have some advantages for us, esp in terms of core + packages for several versions/projects.

Kirill makes an important point re the balance of central control of the repo v contributions from the commun

[2019-03-11 17:23] kbeloborodko commented on #40
@PhilBarrett sure, I believe we both agree with @fzaninotto that we can utilize the approach we are already following and switch to branching from master if we feel that we need to

[2019-03-12 08:27] fzaninotto commented on #49
With react-admin, we draw a clear line separating what we maintain (the core and a few plugins) and what we delegate to the community. In general, we maintain what we built ourselves and use on live applications. Our repository contains only what we maintain. As for packages maintained by the community, we only link to them.

Community contributions that can't be published as a third-party package

[2019-03-12 08:30] fzaninotto commented on #40
yep, as long as you don't use forks ;)

[2019-03-12 09:22] BogdanScherban commented on #60
This task has been done. PR is ready for review:
https://github.com/PulseTile/PulseTile-RA/pull/61

[2019-03-20 14:04] tony-shannon opened #62 "PulseTile RA - dependency versions"
as result of discussion on UI bugs noted here
https://github.com/RippleOSI/NHS_Ed_Scotland_Open_Platform/issues/53

we need to investigate the root cause of some of this bizarre behaviour at the UI

Few points;
Local dev seems ok according to Bogdan
Remote deployment is where we are seeing the issue, on DO VPS machine
So likely to be an issue with the build/minification process

Few points to note

[2019-03-21 16:40] BogdanScherban opened #63 "Edit form doesn't send request"
@fzaninotto
Francois, could you please give an advice with this issue?

I worked with patient info editing. Edit form change information about patient ONLY in Store, but doesn't send request to the server path. Look:
https://drive.google.com/file/d/1fA6Hxn4G3nmfoFz6TurkqCbYTX37oMbI/view?usp=sharing

Requests to server are absent (after click on "Complete").
I understand it is, because process does

[2019-03-25 10:19] PhilBarrett commented on #56
@kuvakina can you update here please, is further work required on this?

[2019-03-25 11:46] kuvakina commented on #56
@PhilBarrett tested it briefly, everything working except for logout: https://www.screencast.com/t/am9rjYwvRr and shows this error: https://www.screencast.com/t/C7TxvNLdo when click a second time on UserName: https://www.screencast.com/t/qTLORX8tG1cL

[2019-03-26 08:32] tony-shannon commented on #56
very helpful thanks @kuvakina

can we please confirm the version of React/React Admin on this box please.
My info is it is  PulseTile React

[2019-03-26 09:29] BogdanScherban opened #64 "Create / Update server response"
**The problem:**

Server response structure (for some requests) isn't considered to rules of React-Admin framework. For this reason we can't show changes at the client side without page reloading:
![image](https://user-images.githubusercontent.com/39263134/54985726-0ea95300-4fba-11e9-90d9-66722ef91d69.png)

React-admin framework has strong rules for server response structure for each type of reque

[2019-03-26 10:14] tony-shannon commented on #63
Hi @fzaninotto could you take a look at this for us please?

[2019-03-26 15:49] #64 closed

[2019-03-26 16:09] BogdanScherban opened #66 "Error handler"
@fzaninotto
Francois, I need in your advice in this issue.

**What I want to do?**

I want to create handler of server response errors. For example, if our token is old, server returns response with status 400 and message like **"Invalid JWT: Error: Token expired"**.

In this case modal window should be appeared. It should include some text and button, which will redirect user to relogin.

**How I

[2019-03-26 16:30] fzaninotto commented on #63
In your `EditToolbar`, you clone the props twice, once for teh Toolbar, and once for the custom save button:

[code]

Does it work better if you don't pass the props to the custom save button?

[code]

[2019-03-26 16:50] fzaninotto commented on #66
Using a custom saga is normally the right way to do what you are trying to achieve - except if you just want to redispatch an action, in which case: why don't you use a reducer in the first place?

About your problem, maybe the response isn't in JSON in that case, and the error comes from `response.json()`. You'll have to debug this using console.log() or step-by-step execution.

Also, you said yo

[2019-03-27 09:16] tony-shannon commented on #56
see updated tests here;
https://docs.google.com/spreadsheets/d/18VNGRjsZYmp-MnuyMBt4WjMmAQ6H7Wp2En5ePPULygc/edit?usp=sharing
NB Apple Cake now got earlier version of PulseTile React on afaik, to be confirm

[2019-03-27 09:18] BogdanScherban commented on #63
Thanks, @fzaninotto .

I tried to do this, but result was the same. I removed custom toolbar generally, and get the same problem with default toolbar. Please, look at the video - I share my code and my browser:
https://drive.google.com/file/d/1S_x51bnd1aSfTBjFGkRqdoDQUwxLztLD/view?usp=sharing

When user clicks on "Save" - values are changed only in Store, but no actions in data provider.

I tried

[2019-03-27 14:39] fzaninotto commented on #63
Sorry, the resolution of your 2 videos isn't good enough to be able to read anything.

[2019-03-27 14:40] fzaninotto commented on #63
I don't understand that part

[2019-03-27 14:42] fzaninotto commented on #63
Does it work better if, instead of using the `<FormInputs />` component, you use its contents? It's the only difference that I see between your code and classic react-admin.

[2019-03-28 08:28] BogdanScherban commented on #63
@fzaninotto

Francois, I updated the video:
https://drive.google.com/file/d/1flycmhcPU11_viJNtj9KWsZva8eUGzQg/view?usp=sharing

I want to show you, that data in store was changed, but request to server side wasn't send. I added console.log to dataProvider:
[code]
You can see, that type UPDATE after click on Complete wasn't appeared.

I mean, that I use the same principle to do Create form: Common

[2019-03-28 08:33] BogdanScherban commented on #66
@fzaninotto

Thanks, Francois - this advice is helpful. It works.

[2019-03-28 15:08] PhilBarrett commented on #56
@tony-shannon please can you provide a comment on outstanding asks re documentation

[2019-03-28 16:05] PhilBarrett opened #67 "PulseTile expand button bugs"
- [ ] Add expand button for Problems / Issues
- [ ] Add expand button for Medications
- [ ] Add expand button for Vaccinations
- [ ] Add expand button for Contacts
- [ ] Add expand button for Allergies
- [ ] Add expand button for Top3Things

[2019-03-28 16:52] fzaninotto commented on #63
Can you share what the redux toolbar displays when you submit the form? there should be a CRUD_UPDATE action dispatched. From there on, if your dataProvider doesn't catch it, it can only be because of a custom saga I think.

[2019-03-29 09:20] BogdanScherban commented on #63
@fzaninotto
Francois, I share CRUD_UPDATE action:
https://drive.google.com/file/d/14LJ-SRek6_RSyKzWyXOSGg5aAGGjkw5q/view?usp=sharing

Could you please clarify, which custom sagas do you mean?
Here the list of our custom sagas:
https://github.com/PulseTile/PulseTile-RA/tree/feature-data-provider/src/core/sagas

But never of them work with CRUD_UPDATE action.

[2019-03-29 09:22] tony-shannon commented on #56
before we close this can we please ask @BogdanScherban  to write up :
how to set up Pulse React from scratch, ie Core + Plugins + Theme + Generator to build for project (eg Helm) file

[2019-03-29 09:22] BogdanScherban commented on #66
This issue has been done and located in this PR:
https://github.com/PulseTile/PulseTile-RA/pull/68

[2019-03-29 09:23] BogdanScherban commented on #62
This issue was solved by dependencies updates.

[2019-04-01 09:53] BogdanScherban commented on #56
@tony-shannon

If we want to create Helm version on ReactJS, we should  use this npm module:
https://www.npmjs.com/package/generator-helm-phr

This is Generator, which based on Yeoman technology. Generator has detailed description. If you want to use it, you should do following:
1) Check, that versions of node, npm and git at your local machine correspond do required;
2) Install all required depen

[2019-04-01 10:41] tony-shannon commented on #56
thanks @BogdanScherban  and the output from this is the build file?

[2019-04-01 21:21] fzaninotto commented on #63
I think it's because the update is optimistic. The fetch only starts after the notification hides. And I don't see the Notification Snackbar in your screencast. Did you forget to implement it?

cf https://github.com/marmelab/react-admin/issues/3049

[2019-04-03 09:58] BogdanScherban commented on #67
This issue has been done:expand button are presented at all pages

[2019-04-03 10:30] BogdanScherban opened #69 "Lerna: way how to add non-core plugins"
@tony-shannon @fzaninotto @kbeloborodko
Probably, we discussed this issue later, but I want to remind about it.

**What we want to do**

We want to use Lerna to manage different versions, based on PulseTile-RA. As version I mean:
**_PulseTile-RA core + some non-core (plugins + features + pages) = VERSION_**

Examples of versions are:
Helm (Core + plugins Top3, Vaccinations, Feeds);
Showcase (Core

[2019-04-04 14:32] BogdanScherban commented on #69
@tony-shannon @fzaninotto @kbeloborodko

I checked, our idea is workable. What was done:

1) Created npm-module for common elements:
https://www.npmjs.com/package/pulsetile-ra-common

2) Created new branch (based on master). All non-core plugins were removed:
https://github.com/PulseTile/PulseTile-RA/tree/for-lerna

3) Checked, that plugin can be created via npm module pulsetile-ra-common (Allergi

[2019-04-04 15:18] fzaninotto commented on #69
2 things I don't understand:

1. I find the name "versions" very misleading. These are applications, websites, examples, implementations, but not versions. If "version" means "application" in the health sector, then you should keep it. Otherwise, change it, it's confusing.
2. Why separate common and core into 2 packages? What you put in common should be, IMO, in core

About that, you're saying:

I

[2019-04-04 15:49] BogdanScherban commented on #69
@fzaninotto

OK, suggest to use "application" for Helm/Showcase/Scotland etc.

In future it should be one project. Now our project is PulseTile/PulseTile-RA.
BogdanScherban/PulseTile-Lerna - it is only for my inverstigation - how Lerna works?

I only described an idea. It will be moved.

I tried to import CreateTemplate from 'pulstetile-core' by the ways:

[code]

In all three cases it doesn't wor

[2019-04-04 19:26] fzaninotto commented on #69
You have to *export* the components you cant to import so that you can do:

[code]

Look at how react-admin does it.

[2019-04-05 15:18] BogdanScherban opened #71 "First Create issue"
@fzaninotto

Francois, could you please help with this issue. I assume, that the reason is in some features of React-admin.

**Problem description:**

User want to create FIRST row in the table. User inputs all data, click on Save button. Client sends request to the server side. Server returns response with code 200. New data are added to Store.

**But Datagrid in List isn't re-render**, and we ca

[2019-04-05 15:21] BogdanScherban opened #72 "TextInput Cursor issue"
@fzaninotto
Francois, could you please help with this issue?

Problem description

User want to edit information in Edit form. User install cursor in the middle of TextInput.
Cursor automatically moved to the end of input field after first letter was added.

Please, look at the video:
https://screencast-o-matic.com/watch/cqffDcZh8E

[2019-04-08 15:39] tony-shannon opened #73 "PulseTile build- why is specifying the endpoint necessary?"
@BogdanScherban ..
Q as to why the build process for PulseTile RA has to specify the endpoint URL in the build process..
we are trying to deploy Helm version, was on Helm-dev needs to move to staging but we are awaiting a special build it seems
Can you explain please? We need to remove this step/dependency

[2019-04-09 08:20] BogdanScherban commented on #73
@tony-shannon
We check, that build can work without domain name.

[2019-04-09 14:13] PhilBarrett commented on #72
@BogdanScherban can you provide an update here please?

[2019-04-09 14:19] PhilBarrett commented on #56
Please can you add the build file to this path or related
https://github.com/PulseTile/PulseTile-React-Core/tree/master/build

[2019-04-10 07:46] BogdanScherban commented on #72
@PhilBarrett
Phil, we need in Francois advice about this issue

[2019-04-10 15:23] BogdanScherban commented on #24
@tony-shannon @PhilBarrett

Three plugin was added:
- Clinical Notes
- Personal Notes
- Procedures

Personal Notes works correctly (server side - List, Create, Show, Edit):
![image](https://user-images.githubusercontent.com/39263134/55891684-a794bc80-5bbd-11e9-8064-24d337c8ee77.png)

Two moments:
1) can't create new Procedure - response:
![image](https://user-images.githubusercontent.com/39263134/

[2019-04-11 10:05] kuvakina opened #75 "Add Plugin Drawings"
In Showcase we have plugin Drawings. We should move it to showcase-devra.

Approx. estimate time: 6-8h

[2019-04-11 10:07] kuvakina opened #76 "Add Plugin Documents"
In Showcase we have plugin Documents. We should move it to showcase-devra.

Approx. estimate time: 6-8h

[2019-04-11 10:08] kuvakina opened #77 "Add Plugin Clinical Statements"
In Showcase we have plugin Clinical Statements. We should move it to showcase-devra.

Approx. estimate time: 6-8h

[2019-04-11 10:09] kuvakina opened #78 "Add Plugin Orders"
In Showcase we have plugin Orders. We should move it to showcase-devra.

Approx. estimate time: 6-8h

[2019-04-11 10:10] kuvakina opened #79 "Add Plugin Transfers of Care"
In Showcase we have plugin Transfers of Care. We should move it to showcase-devra.

Approx. estimate time: 6-8h

[2019-04-11 10:11] kuvakina opened #80 "Add Plugin Test Results"
In Showcase we have plugin Test Results. We should move it to showcase-devra.

Approx. estimate time: 6-8h

[2019-04-11 10:29] kuvakina commented on #80
Related issues:
#24 - Add Plugins (Simple)  - DONE
#25 - Add Plugin Event
#26 - Add Plugin Vitals - News
#27 - Add Plugin Images
#75 - Add Plugin Drawings
#76 - Add Plugin Documents
#77 - Add Plugin Clinical Statements
#78 - Add Plugin Orders
#79 - Add Plugin Transfers of Care

[2019-04-11 10:30] kuvakina commented on #79
Related issues:
#24 - Add Plugins (Simple)  - DONE
#25 - Add Plugin Event
#26 - Add Plugin Vitals - News
#27 - Add Plugin Images
#75 - Add Plugin Drawings
#76 - Add Plugin Documents
#77 - Add Plugin Clinical Statements
#78 - Add Plugin Orders
#80 - Add Plugin Test Results

[2019-04-11 10:30] kuvakina commented on #78
Related issues:
#24 - Add Plugins (Simple)  - DONE
#25 - Add Plugin Event
#26 - Add Plugin Vitals - News
#27 - Add Plugin Images
#75 - Add Plugin Drawings
#76 - Add Plugin Documents
#77 - Add Plugin Clinical Statements
#79 - Add Plugin Transfers of Care
#80 - Add Plugin Test Results

[2019-04-11 10:30] kuvakina commented on #77
Related issues:
#24 - Add Plugins (Simple)  - DONE
#25 - Add Plugin Event
#26 - Add Plugin Vitals - News
#27 - Add Plugin Images
#75 - Add Plugin Drawings
#76 - Add Plugin Documents
#78 - Add Plugin Orders
#79 - Add Plugin Transfers of Care
#80 - Add Plugin Test Results

[2019-04-11 10:30] kuvakina commented on #76
Related issues:
#24 - Add Plugins (Simple)  - DONE
#25 - Add Plugin Event
#26 - Add Plugin Vitals - News
#27 - Add Plugin Images
#75 - Add Plugin Drawings
#77 - Add Plugin Clinical Statements
#78 - Add Plugin Orders
#79 - Add Plugin Transfers of Care
#80 - Add Plugin Test Results

[2019-04-11 10:31] kuvakina commented on #75
Related issues:
#24 - Add Plugins (Simple)  - DONE
#25 - Add Plugin Event
#26 - Add Plugin Vitals - News
#27 - Add Plugin Images
#76 - Add Plugin Documents
#77 - Add Plugin Clinical Statements
#78 - Add Plugin Orders
#79 - Add Plugin Transfers of Care
#80 - Add Plugin Test Results

[2019-04-11 10:31] kuvakina commented on #27
Related issues:
#24 - Add Plugins (Simple)  - DONE
#25 - Add Plugin Event
#26 - Add Plugin Vitals - News
#75 - Add Plugin Drawings
#76 - Add Plugin Documents
#77 - Add Plugin Clinical Statements
#78 - Add Plugin Orders
#79 - Add Plugin Transfers of Care
#80 - Add Plugin Test Results

[2019-04-11 10:31] kuvakina commented on #26
Related issues:
#24 - Add Plugins (Simple)  - DONE
#25 - Add Plugin Event
#27 - Add Plugin Images
#75 - Add Plugin Drawings
#76 - Add Plugin Documents
#77 - Add Plugin Clinical Statements
#78 - Add Plugin Orders
#79 - Add Plugin Transfers of Care
#80 - Add Plugin Test Results

[2019-04-11 10:31] kuvakina commented on #25
Related issues:
#24 - Add Plugins (Simple)  - DONE
#26 - Add Plugin Vitals - News
#27 - Add Plugin Images
#75 - Add Plugin Drawings
#76 - Add Plugin Documents
#77 - Add Plugin Clinical Statements
#78 - Add Plugin Orders
#79 - Add Plugin Transfers of Care
#80 - Add Plugin Test Results

[2019-04-11 10:32] kuvakina commented on #24
Related issues:

#25 - Add Plugin Event
#26 - Add Plugin Vitals - News
#27 - Add Plugin Images
#75 - Add Plugin Drawings
#76 - Add Plugin Documents
#77 - Add Plugin Clinical Statements
#78 - Add Plugin Orders
#79 - Add Plugin Transfers of Care
#80 - Add Plugin Test Results

[2019-04-15 07:34] #20 closed

[2019-04-15 07:45] #67 closed

[2019-04-15 14:47] fzaninotto commented on #71
I don't reproduce this bug in react-admin. Upon receiving CRUD_CREATE_SUCCESS, react-admin properly stores the response in the store in two locations: `data` (for the raw record) and `ids` (for the list). This allows the list to immediately display the result after creation, without waiting for the list fetch.

For this to work, the `dataProvider` MUST return the created record *with an `id`* when

[2019-04-15 14:51] fzaninotto commented on #71
By the way react-admin checks for the existence of this `id` in the response, so you should see a warning in the console looking like:

[2019-04-15 15:54] fzaninotto commented on #72
what kind of input is it? `<TextInput>`? `<RichTextInput>`?

[2019-04-16 10:16] BogdanScherban commented on #72
@fzaninotto
It is `<TextInput>` of React-admin

[2019-04-16 10:20] PhilBarrett opened #82 "Generic User Tour"
We need to take the existing user tour and make it generic, removing references of Helm and adding a tag to accessibility tour point

[2019-04-16 10:52] BogdanScherban commented on #71
@fzaninotto
Francois, I checked, that id was presented in the object, which is passed to return:
![image](https://user-images.githubusercontent.com/39263134/56203624-49009000-604e-11e9-8818-af1682f59ba2.png)

This is the place of console.log():
[code]
Besides this, data was added correctly to Redux:
![image](https://user-images.githubusercontent.com/39263134/56203740-7c431f00-604e-11e9-85e3-1bf694

[2019-04-16 14:07] kuvakina opened #83 "Tour button issue on MPV"
By clicking on Tour button from MPV (for Scotland(NES) and OneLondon projects) we are forwarded to Single page view.

Suggestion: hide Tour button form all pages except for Single page view.

[2019-04-16 14:51] fzaninotto commented on #72
I cannot reproduce this bug on react-admin, and I cannot find the code associated with your screencast. Can you point me to the code in this repository (and by the way, can you do that every time you ask for my help, because your issue doesn't have enough details for me to help you right away)?

[2019-04-16 15:05] fzaninotto commented on #71
It's very hard to debug this without actually being able to run the code on my side...

Can you try adding redirect="list" to the SimpleForm in CreateTemplate?

https://github.com/PulseTile/PulseTile-RA/blob/ed3b8a675029ad8a515173a704dede32a13d04bc/src/core/common/ResourseTemplates/CreateTemplate.js#L82-L84

[2019-04-30 11:57] PhilBarrett commented on #83
Tour no longer on NES. Removing label

[2019-04-30 12:59] kuvakina commented on #83
NES doesn't have Tour btn already: https://www.screencast.com/t/FPxOlNRsSvy

[2019-04-30 15:19] PhilBarrett opened #84 "Searching for a patient, creates two search requests"
![Screen Shot 2019-04-30 at 16.17.41.png](https://images.zenhubusercontent.com/5c90c9fcd76ef51f6b0fddfd/bbc6b259-2cf0-467e-b92f-625e1bf5b58b)

Also makes two requests to EtherCIS

Applicable for One London, NES

[2019-05-02 14:10] PhilBarrett opened #85 "Update readme with install / deployment instructions"

[2019-05-14 11:20] BogdanScherban commented on #71
We find a way how to avoid this problem. It isn't actual more.

[2019-05-15 09:57] kuvakina commented on #83
We hid Tour fo OneLondon:
![333333333333333333.png](https://images.zenhubusercontent.com/5cacbbef8d0ceb76ea94b3f3/66098e6e-d676-4a96-9040-d24e6e136f62)
![333333333333333333333333333.png](https://images.zenhubusercontent.com/5cacbbef8d0ceb76ea94b3f3/ed342f89-adea-4d0f-9ce3-a0d9b5b799c2)

[2019-05-15 09:59] kuvakina commented on #85
Bogdan had updated ReadMe: https://github.com/PulseTile/PulseTile-RA/blob/scotland/README.md

but he has a few Q about ReadMe:

1) What should be written in description of ReSPECT-plugin? It is necessary 1-2 sentences, because it feature is presented only in NES;

2) Should we add "Local working" title with the link to QWED?

[2019-05-16 10:07] PhilBarrett commented on #71
@BogdanScherban to provide update

[2019-05-16 10:08] PhilBarrett commented on #72
Other implementations need to be updated for NES, One London and Showcase-RA

[2019-05-16 15:56] kuvakina opened #89 "Change dates format"
We have a problem with changing dates format from **mm/dd/yyyy** to **dd/mm/yyyy** (For NES and OneLondon)

- [ ] 1) on SPV , in issues:
![vvv1.png](https://images.zenhubusercontent.com/5cacbbef8d0ceb76ea94b3f3/c12fb87f-f507-470d-8fee-c8cfccef879b)

- [ ] 2) on MPV, DOB
- [ ] 2.1:
![vvv2.png](https://images.zenhubusercontent.com/5cacbbef8d0ceb76ea94b3f3/65f2242f-cf90-4349-803a-8f166bd95b85)

- [ ]

[2019-05-16 16:16] BogdanScherban commented on #72
This issue was fixed. The reason was in re-rendering of theme after adding each new symbol to the input field.

Solution:
[code]

Earlier we used (it was the reason of error):
[code]

[2019-05-16 16:19] BogdanScherban commented on #71
@PhilBarrett
We fixed this problem by adding the condition: list should be re-rendered each time, when users list in the Store will be increased at 1 (add new user) and user name is similar to name in search input. The last conditions gives possibility to avoid re-render if the user isn't new, and mpi/Patients request return only one user.

[2019-05-17 10:38] kuvakina opened #90 "Wrong order for synopsis"
The order we see on Patient Summary page and on the issue page is different.

**For OneLondon** :
![qq1.png](https://images.zenhubusercontent.com/5cacbbef8d0ceb76ea94b3f3/2b7492f0-c182-4432-9f59-3ad7abab4878)
![qq2.png](https://images.zenhubusercontent.com/5cacbbef8d0ceb76ea94b3f3/b7c11db1-4c5f-491c-a953-a7d70cb3163a)

**For Helm-RA** :
![qq3.png](https://images.zenhubusercontent.com/5cacbbef8d0ce

[2019-05-17 15:45] BogdanScherban commented on #90
@fzaninotto
Francois, I need in your help in this issue.

1) What I want to do.

We have a table, which is created by Datagrid. I want to set backgroundColor (main theme color) and color (white, for text) to the row, which is opened now.

2) How I tried to do this.

I used Datagrid attribute rowStyle according to https://marmelab.com/react-admin/List.html#row-style-function:
[code]

But unfortunas

[2019-05-20 14:01] #79 closed

[2019-05-20 14:01] PhilBarrett commented on #79
Duplicate of https://github.com/RippleOSI/Ripple-Showcase-Stack-Project/issues/20 , closing here

[2019-05-21 12:18] kuvakina commented on #85
@PhilBarrett @tony-shannon Bogdan done Read.me, here is PR: https://github.com/PulseTile/PulseTile-RA/tree/master

[2019-05-21 12:43] kuvakina commented on #90
@tony-shannon @PhilBarrett
on this task Bogdan approx need 2-3h

[2019-05-24 10:00] kuvakina opened #91 "Need to highlight chosen issues"
Right now when you click on issue and redirect on issue page, it not clear what issue you chose. Need to highlight chosen issues:

**Helm-RA** :
![qq4.png](https://images.zenhubusercontent.com/5cacbbef8d0ceb76ea94b3f3/b4734296-117c-4de5-a66e-6e44a62eea8c)

**OneLondon** :
![qq5.png](https://images.zenhubusercontent.com/5cacbbef8d0ceb76ea94b3f3/e8d8317c-a203-4d44-91d0-895de3417c2b)

[2019-05-24 10:01] kuvakina commented on #91
from @BogdanScherban

--
@fzaninotto
Francois, I need in your help in this issue.

What I want to do.
We have a table, which is created by Datagrid. I want to set backgroundColor (main theme color) and color (white, for text) to the row, which is opened now.

How I tried to do this.
I used Datagrid attribute rowStyle according to https://marmelab.com/react-admin/List.html#row-style-function:

[cod

[2019-05-27 08:57] BogdanScherban opened #92 "Custom provider doesn't update Store"
@fzaninotto

Francois, I need in your advice. Could you please help me?

**WHAT I WANT TO DO**

I created custom form. It is custom because:
1) Form include a lot of custom elements, which can't be done by React-Admin functionality;
2) Some values should be calculated automatically

![Screenshot from 2019-05-27 11-40-14](https://user-images.githubusercontent.com/39263134/58407894-5f4e3280-8075-11e

[2019-05-27 11:28] tony-shannon commented on #71
Bogdan says this problem was solved

Needs retesting and confirm ok to close please @Alexandra

[2019-05-27 11:29] tony-shannon commented on #71
Maybe not relevant for Helm any longer?

[2019-05-27 11:34] tony-shannon commented on #91
needing Francoiss help

[2019-05-27 11:39] tony-shannon commented on #90
Bogdan to investigate this one please

[2019-05-27 15:20] tony-shannon commented on #49
renamed this issue from
set up for 3 PT projects versions for PT-RA

[2019-05-27 16:39] tony-shannon commented on #69
need to cross reference this issue
https://github.com/PulseTile/PulseTile-RA/issues/49

[2019-05-27 16:39] tony-shannon commented on #55
need to cross reference this issue
https://github.com/PulseTile/PulseTile-RA/issues/49

[2019-05-28 09:56] PhilBarrett opened #93 "Document in docs.pulsetile.com the Core components"
Should be a copy and paste from React, with new code snippets.

[2019-05-28 11:54] PhilBarrett commented on #22
http://docs.pulsetile.com/react-search.html

[2019-05-28 12:41] BogdanScherban commented on #90
@tony-shannon @DmitrySolyannik

I solve this issue in Showcase version.

I changed sort order in synopsis (to opposite):
![Screenshot from 2019-05-28 15-34-08.png](https://images.zenhubusercontent.com/5cd92c639c62ea1ca66b24a2/ca9d97dd-a4eb-48c5-ab4f-587bbc22a657)

And added default sort by dateCreated (opposite):
![Screenshot from 2019-05-28 15-35-07.png](https://images.zenhubusercontent.com/5cd92

[2019-05-28 12:43] tony-shannon commented on #90
ok thanks, need estimate of effort for those suggestions please

[2019-05-28 12:48] BogdanScherban commented on #90
@tony-shannon

#1 - it needs @DmitrySolyannik estimation, because it is server-side issue.

#2  - I need in 2-3 h for this work:
1) Create new branch based on Master
2) Copy common changes from Showcase to Master
3) Check, that everything works correctly
4) Merge new branch to NES, London and Helm
5) Check, that NES, London and Helm work correctly after merging and update them.
6) Create PR

[2019-05-28 13:13] PhilBarrett opened #94 "Showcase - Responsive issues"
I currently need to scroll left and right as showcase isn't responsive
![Screen Shot 2019-05-28 at 14.11.18.png](https://images.zenhubusercontent.com/5c90c9fcd76ef51f6b0fddfd/cddccb95-035c-4f41-9c3d-56b8447e3098)![Screen Shot 2019-05-28 at 14.11.27.png](https://images.zenhubusercontent.com/5c90c9fcd76ef51f6b0fddfd/03e08e2d-5d24-43e7-a7ce-07297054207d)

Needs to snap/respond depending on the device

[2019-05-28 13:27] fzaninotto commented on #92
If you call the data Provider directly, you're effectively bypassing the Redux store. React-admin doesn't call the data provider directly. It dispatches Redux actions that have a `fetch` meta. The `fetch` saga catches these actions and calls the data provider. Then, the saga updates the store with the response.

If you want the store to be refreshed after submission in your form, you have two choi

[2019-05-28 13:28] fzaninotto commented on #92
I suggest you reread the "Querying the API" chapter in the react-admin documentation.

https://marmelab.com/react-admin/Actions.html

[2019-05-28 14:01] fzaninotto commented on #91
I think you should use a custom `<DatagridBody>` to store the selected row, and a custom `<DatagridRow>` to handled the custom format upon selection. Then, inject these components into `<Datagrid>`. I'll explain that in detail.

To create a custom `<DatagridBody>`, copy [the source of that component from react-admin](https://github.com/marmelab/react-admin/blob/master/packages/ra-ui-materialui/src

[2019-05-28 14:15] fzaninotto commented on #89
[`Intl`](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Intl) is part of the Javascript standard library, and is only available in recent browsers (see [caniuse](https://caniuse.com/#feat=internationalization)). If you're not targeting old browsers (like IE 10), `Intl` is present and you don't have to worry about it.

If passing locales and options in the `<DateFi

[2019-05-29 08:33] BogdanScherban commented on #92
@fzaninotto

Hi, Francois! Thank you, you advice helped me to solve this issue - `crudUpdate()` and `crudCreate()` using solved the problem.
_________________________________________________________________________________

About problems in the screenshot...

1) Unfortunately, I must create design maximal similar to old PulseTile Showcase:
![Screenshot from 2019-05-29 11-28-44](https://user-image

[2019-05-30 13:28] BogdanScherban commented on #91
@fzaninotto

Thanks, Francois! Custom datagrid using gives possibility to solve this issue!

[2019-05-31 15:48] BogdanScherban commented on #90
@tony-shannon

I added required sorting at the client side (by dateCreated in opposite order).

But in some cases orders in synopsis and in table list aren't correspond.
For example, Medications

![Screenshot from 2019-05-31 18-43-07.png](https://images.zenhubusercontent.com/5cd92c639c62ea1ca66b24a2/4b7ab9fd-a3d0-4cb2-979c-02bcbc54bb0e)

![Screenshot from 2019-05-31 18-43-35.png](https://images.ze

[2019-05-31 15:49] BogdanScherban commented on #91
@tony-shannon

This issue has been done and uploaded to Showcase-Devra, Helm-dev and OneLondon.

[2019-05-31 16:13] kuvakina commented on #91
@tony-shannon @PhilBarrett @BogdanScherban

See it working on OneLondon and Showcase-Devra (when clicking on Patient Summary), but not on Helm-dev

[2019-06-03 12:51] tony-shannon commented on #90
@DmitrySolyannik could you please discuss this with @robtweed to get a view from both of you on whether this is a client or server side issue please

[2019-06-03 13:53] PhilBarrett commented on #91
I can't see that on One London as working but fine on showcase-devra. Has the change been applied to One London?

[2019-06-03 14:34] kuvakina commented on #90
@tony-shannon  Dima added his changes, @BogdanScherban could you please add changes on your side?

[2019-06-03 15:33] kuvakina commented on #90
@tony-shannon @PhilBarrett

As I understand it's working correct now, but the problem if that we have a lot issues in one heading with the same date. If we create issues for new patient and all issues won't be "today", we won't see the problem at all

For now, I'll move it to Review until we test it with new user

[2019-06-04 09:16] tony-shannon commented on #49
once showcase updated Bogdan will return to this task

[2019-06-04 11:21] kuvakina commented on #71
@tony-shannon

Tested it on Helm-dev. It's working, you can see on the video: https://drive.google.com/file/d/1NhAMrenDZNjmkmiyewFm8VOK_WI1X0it/view

[2019-06-07 15:25] #91 closed

[2019-06-10 08:10] tony-shannon commented on #22
search is available by surname or ID
need to extend the API to enable further searches

@BogdanScherban to update

[2019-06-10 08:14] tony-shannon commented on #22
linked to #29

[2019-06-10 08:50] tony-shannon commented on #93
please consider whether to focus on this before/after Lerna migration

[2019-06-10 09:50] BogdanScherban commented on #22
Client side of this issue was done. But now we can search patients by lastName and by patientId:
https://drive.google.com/file/d/1kcseeS_0xizc5-1iIkXr5xQs7iIbwepg/view

PatientID has more priority than lastname.

All other fields aren't used in search, because we don't have API-method for this.

[2019-06-11 08:47] tony-shannon commented on #22
dependent on FHIR searching for work by Dima

[2019-06-14 13:30] kuvakina commented on #22
@PhilBarrett @tony-shannon
Dima working on this issue at the moment

[2019-06-14 14:50] kuvakina commented on #94
Also bug with responsive on MPV: https://drive.google.com/file/d/1G5NTIbEjJqlsdVkMk0apOa6g_7hNemfX/view

@BogdanScherban

[2019-06-18 08:00] BogdanScherban commented on #94
@tony-shannon @PhilBarrett

Can we ask Simon's help to this issue?

[2019-06-18 11:39] PhilBarrett commented on #94
https://docs.google.com/document/d/1UI90usQjRIIPyO1_ZJWoXf3fVLpg0IwjAbiEgmBJIeU/edit

[2019-06-18 12:38] PhilBarrett commented on #94
From @BogdanScherban

No Mobile Navigation - 1-2 h

Charts and tables disappear on mobile - 1-2 h
In this issue I want to provide following:
- By clicking on menu Charts/Patient will be opened either Charts or MPV and mobile menu will be closed;
- mobile menu should be appeared in the same moment when desctop menu is dissapeared;

Sidebar Menu not working.
We created mobile menu width 100%, becaus

[2019-06-18 12:47] PhilBarrett commented on #93
Quality work @BogdanScherban thankyou.

One minor change in ReSPECT plugin, it refers to the Vitalsigns API

  /api/patients/{patientId}/vitalsigns

@tony-shannon can you have a brief review please, before I close off

[2019-06-18 13:12] PhilBarrett commented on #72
Reviewed and working fine now, thank you

[2019-06-18 13:12] #72 closed

[2019-06-18 14:00] #83 closed

[2019-06-18 14:36] PhilBarrett commented on #90
@kuvakina can you confirm if this is ok to close now please?

[2019-06-21 09:15] PhilBarrett commented on #22
PR being reviewed by Alexey

https://github.com/QEWD-Courier/fhir-mpi/pull/1

[2019-06-21 16:02] kuvakina commented on #94
I'm testing this.

[2019-06-24 15:25] kuvakina commented on #94
@tony-shannon @PhilBarrett @

Issues from Simon's doc were solved:

![111111111111111.png](https://images.zenhubusercontent.com/5cacbbef8d0ceb76ea94b3f3/062d2025-442d-4b24-aaef-b4cbb3f85dc1)

![222222222222.png](https://images.zenhubusercontent.com/5cacbbef8d0ceb76ea94b3f3/8046fb06-1f97-4b1f-8fd6-817026054de4)

https://drive.google.com/file/d/1r8NQSmm3PAJ0iLYfleQk_Bz1Biw24XMY/view

[2019-06-26 08:39] #22 closed

[2019-07-11 09:40] BogdanScherban opened #97 "Double request in the Patients List"
@fzaninotto

Francois, could you please help me with this issue. I can't found a reason of double request in List-component:
https://drive.google.com/file/d/1qJkFUqUYNyjARSjCrUp2Mxgcrq2sQbZQ/view

You can see two problems:
1) In first case it run double request with "tweed";
2) In the second request in run double request with for previous search (tweed) and new search (smith)

How it works:
1) Pat

[2019-07-11 14:12] BogdanScherban commented on #25
@tony-shannon @PhilBarrett

Tony and Phil, I have a suggestion about Events plugin.

Let's look at the video:
https://drive.google.com/file/d/13DaWtFFpIYbsb6b_SqFM1d9Iw_hYDcJs/view

You can see, that Create button has popup with four variants depends on Event type. After this event type is disabled selector in Create/Update form.:
![Screenshot from 2019-07-11 17-06-31.png](https://images.zenhubuse

[2019-07-11 15:57] BogdanScherban commented on #25
@tony-shannon @PhilBarrett
I did part work on Event plugin:
https://drive.google.com/file/d/1jjznZOcJTrxvyBcETYNtpfEQxchjNphq/view

What is ready:
1) List with filter/sorting;
2) Create and Update;
3) Show details;
4) Events timeline (with real data, not dummy)

What else should I do.
As you can see, event form for type Discharge has additional elements in comparison with other types. I should add

[2019-07-12 09:25] BogdanScherban commented on #25
@PhilBarrett @tony-shannon

The issue has been done and upload, but it is necessary to solve, which options should be here:
![Screenshot from 2019-07-12 12-24-26.png](https://images.zenhubusercontent.com/5cd92c639c62ea1ca66b24a2/b7983882-76d7-4658-b0c4-92f9a15904cc)

[2019-07-12 11:56] BogdanScherban commented on #49
@tony-shannon @PhilBarrett

I have a new idea, how to use Lerna for this issue.

Now Showcase is a version with maximal functionality. Suggest to use it as a base.

We will have only one package - with maximal possible functionality. Different versions of the application (Helm, Nes, London etc.) will disable functionality, which isn't used there.

[code]

Parameters, which we can pass to *pulsetil

[2019-07-15 08:55] PhilBarrett commented on #25
Need to discuss this one further, please pause for now

[2019-07-15 10:58] kuvakina commented on #25
@PhilBarrett ok, we understand

[2019-07-16 14:30] kbeloborodko commented on #49
Hi, @BogdanScherban, thank you for the write up. I hope you can clarify a couple of questions considering the approach you are suggesting:
1) Lerna is used to manage versions and dependencies across different packages. If we have one package that contains the complete functionality and configure the versions by subtracting the modules what will be Lerna's role in this case as pulsetile-ra will be

[2019-07-17 09:31] tony-shannon commented on #25
can you please review this Event plugin and report back with a bit of explainer

[2019-07-17 09:52] fzaninotto commented on #97
When you update the state based on the current state, you should use the function variant of `setState` (which you do) and use the state from the function parameters rather than from `this` (which you don't do):

[code]

I don't know if that's the cause of the problem but it might certainly cause bugs.

[2019-07-17 09:57] fzaninotto commented on #97
You're changing the state in `componentWillReceiveProps`. That's an edge case that the React doc advises against (see https://reactjs.org/docs/react-component.html#unsafe_componentwillreceiveprops).

I ythink you should use `componentDidUpdate` instead.

[2019-07-17 10:01] BogdanScherban opened #98 "Click on row removed Datagrid"
@fzaninotto
Hi, Francois! Right now I found new issue.

Let's look at the video:
https://drive.google.com/file/d/1GqvCtBPnVX8Xkp1qYcT-1T21KsujMb41/view

When we click on the row at the page 2 and more, content of **ids** array in Store (I mean **admin.resources.allergies.list.ids**) is removed, and we can see only one id here - id of item, which we click on.

This problem is absent only at first p

[2019-07-17 12:33] fzaninotto commented on #98
As seen together on the phone, you can pass a function as rowClick and build a URL containing the query parameters busing `document.location`

[2019-07-17 15:11] BogdanScherban commented on #98
@fzaninotto

Hi, Francois!
I tried to use custom rowClick to solve this problem. But this solution doesn't work with custom datagrid:
[code]

I checked it, by disabling these rows:
[code]

In this case we can see **console.log()** results. But when we try to use `rowClick={....}` with CustomDatagrid, **console.log()** is absent.

I tried to add `rowClick={....}` also to:
- CustomDatagridBody
- Dat

[2019-07-17 16:10] BogdanScherban commented on #97
@tony-shannon @fzaninotto

Thanks, Francois! The issue has been done!

[2019-07-17 16:39] kuvakina commented on #97
@tony-shannon @PhilBarrett The issue with requests from the previous search in the new search was solved. Please see the video:
https://drive.google.com/file/d/1DdFPxhBYkGIWSlBWC4byDWyhbxXmHF09/view

[2019-07-17 17:05] kuvakina commented on #25
@tony-shannon @PhilBarrett

**Creating Event (Appointment type)**:

https://drive.google.com/file/d/1SovbUWN628zHXsUHKV9njcb8d6_jzeqx/view

[2019-07-17 17:07] kuvakina commented on #25
@tony-shannon @PhilBarrett

**Creating Event (Admission type)** on Showcase-devra:

https://drive.google.com/file/d/1fLa50cUfjqdtmXDt2XWWyfMqSl-TmIsI/view

[2019-07-17 17:09] kuvakina commented on #25
@tony-shannon @PhilBarrett

**Creating Event (Transfer type)** on Showcase-devra:

https://drive.google.com/file/d/1ed3MQ5zFHGfCup1GcjUQjGbPZgwrE5IX/view

[2019-07-17 17:17] kuvakina commented on #25
@tony-shannon @PhilBarrett

**Creating Event (Discharge type)** on Showcase-devra:

https://drive.google.com/file/d/1noi92m4t-d4tTurUaY5X2L-Mfr57OL2l/view

[2019-07-18 14:34] tony-shannon commented on #49
Hi @BogdanScherban this needs an update in response to Kirills @kbeloborodko Q and discussion with @fzaninotto

[2019-07-18 16:07] tony-shannon commented on #25
simplify please

[2019-07-18 17:04] kuvakina commented on #25
@tony-shannon @PhilBarrett

We simplified Event, tomorrow I'll update the issue:
![qqq1.png](https://images.zenhubusercontent.com/5cacbbef8d0ceb76ea94b3f3/d1820961-6cb2-4213-a907-b93f087f58ae)

[2019-07-19 13:08] BogdanScherban commented on #49
@kbeloborodko @tony-shannon

Hi, Kirill! I see following solution.

All possible plugins, pages and features are presented in package.

But we have few places in the project, where we can disable them:

1) Plugins - it is enough to disable required plugin in this list:
https://github.com/PulseTile/PulseTile-RA/blob/showcase/src/version/config/nonCorePlugins.js

2) The same - for pages:
https://git

[2019-07-22 10:32] tony-shannon commented on #49
##NB See related discussion here in Bogdans repo

https://github.com/BogdanScherban/Lerna-PulseTile/issues/1

[2019-07-23 09:03] BogdanScherban commented on #98
@tony-shannon @PhilBarrett
This issue was fixed.
I tried to use DatagridRow instead of TableRow - table not working in this case.
But I changed onClick - now it add page to URL. I forgot, that we redirect user to show page manually (not by RA-functionality), so we have possibility to control it.

And it works!!!
@djhi, thank you very much for help!

[2019-07-26 10:26] tony-shannon opened #101 "Create Medications ; Errors"
![image](https://user-images.githubusercontent.com/939996/61945539-28729b00-af98-11e9-8f4c-0a55da65fa7b.png)
1) when try to add medication, without a date, the error says "Something Wrong".. needs better error

![image](https://user-images.githubusercontent.com/939996/61945544-2ad4f500-af98-11e9-8ff3-736976a5b2de.png)
2) when have created the new medication, and try to view it, the details are mis

[2019-07-26 12:40] kuvakina opened #104 "Github Security vulnerability check for PulseTile-RA"
Were found a potential security vulnerability in PulseTile-RA repository

[2019-07-31 15:14] kuvakina commented on #104
@tony-shannon @PhilBarrett

Bogdan updated dependencies in his PR. Could you please check if it solved the problem?

[2019-07-31 15:54] kuvakina commented on #101
@tony-shannon @PhilBarrett

I still don't see problems 2-3.

Re 1:
We made error message this way when the field not filled in:
![em2.png](https://images.zenhubusercontent.com/5cacbbef8d0ceb76ea94b3f3/5c2a31c4-c096-4197-bce2-797788bbe63b)

Also we added this to Patient edit:
![em1.png](https://images.zenhubusercontent.com/5cacbbef8d0ceb76ea94b3f3/536df9e9-1723-4c66-815a-9b9b9c626aec)

[2019-07-31 15:57] kuvakina commented on #101
We found the issue with editing Medications' date: when you edit date, you get the error.

Tomorrow we'll investigate it further

[2019-08-01 14:04] kuvakina commented on #101
@tony-shannon @PhilBarrett the issue with editing Medications' date was fixed for both showcase-demonstrator and showcase-auth0. The problem was with date format - it should be unix. On the video you can see that it works correctly:
[showcase-demonstrator] https://drive.google.com/file/d/1UZvvDogxEoYgjNEuKAvaqyD1xYfy6Hnk/view
[showcase-auth0] https://drive.google.com/file/d/1PWkTRExsZNyycN9Vd3y6fR

[2019-08-05 15:31] BogdanScherban commented on #49
Current situation for versions:

Showcase - done and upload to https://showcase-dev.ripple.foundation

Helm - done, but can't be upload because of blob-settings on https://helm-demo.ripple.foundation

Nodered - done and upload to http://nodered-showcase.ripple.foundation

NES - done, but didn't upload;

OneLondon - in process (we should add possibility to refuse create/update all headings except T

[2019-08-08 13:49] kuvakina opened #105 "To fix a few minor tweaks for ReadMe for Lerna"
https://github.com/PulseTile/PulseTile-RA-Lerna

From @PhilBarrett :
"There are a few minor tweaks but we can add those as it's more scene setting/context"

[2019-08-14 11:25] kuvakina commented on #56
@tony-shannon @PhilBarrett could we close this issue, as we don't have Apple-cake server right now?

[2019-08-14 11:26] #56 closed

[2020-06-04 21:10] cebucul opened #109 "Cannot make it run (PulseTile-RA)"
Hi Team,

if I download code, run **npm install** I get a lot of errors from NPM mainly axios version corrupted and when I do **npm start** I get an error that react-scripts doesn't exist. I tried workarounds for similar errors on stackoverflow but without success. Still cannot get it to run. Please advise.
I have latest NPM, node on windows 10.

Also tried Lerna variant but without success either

[2020-06-05 09:02] tony-shannon commented on #109
Sorry you haven't provided enough information to be able to help. It appears that you need to take a look at the ReactAdmin library to ensure you know how to get that base library started
https://github.com/marmelab/react-admin

The PulseTile project is sponsored by the Ripple Foundation
Unfortunately in the last year we have had more takers > makers and so have limited funds at this time. https:/

[2020-06-12 06:02] cebucul commented on #109
[2020-06-12T05_50_33_611Z-debug.log](https://github.com/PulseTile/PulseTile-RA/files/4769006/2020-06-12T05_50_33_611Z-debug.log)
[2020-06-12T05_54_14_309Z-debug.log](https://github.com/PulseTile/PulseTile-RA/files/4769007/2020-06-12T05_54_14_309Z-debug.log)

Good Morning,

I attached the full console logs.

Frist I run npm install and I get integrity errors for some package or packages. At least a

[2020-06-12 06:06] cebucul commented on #109
npm start

'react-scripts' is not recognized as an internal or external command,
operable program or batch file.
npm ERR! code ELIFECYCLE
npm ERR! errno 1
npm ERR! new@1.0.0 start: `react-scripts start`
npm ERR! Exit status 1
npm ERR!
npm ERR! Failed at the new@1.0.0 start script.
npm ERR! This is probably not a problem with npm. There is likely additional logging output above.

npm ERR! A complet

[2020-06-12 06:10] cebucul commented on #109
and before I ran **npm install** to get dependencies:

PS C:\nodejs\xxx> git clone https://github.com/PulseTile/PulseTile-RA.git
Cloning into 'PulseTile-RA'...
remote: Enumerating objects: 6, done.
remote: Counting objects: 100% (6/6), done.
remote: Compressing objects: 100% (6/6), done.
remote: Total 40056 (delta 2), reused 0 (delta 0), pack-reused 40050
Receiving objects: 100% (40056/40056), 70.

[2020-06-14 05:41] cebucul commented on #109
Managed to fix it:
_Delete the node_modules directory: rm -rf node_modules
Delete package-lock.json file:rm package-lock.json`
Clear the cache: npm cache clean --force
Run npm install --verbose_

But now the landing pages gets stuck loading the login page, please advise.
I think it expects some database where users are stored but could not locate instructions.

Thank you.

[2020-07-22 16:15] tony-shannon commented on #109
PulseTile is a frontend UI framework, dependent on other tiers in a stack, which is common in enterprise grade applications
This means is it not trivial to set up and run, but can be done.
Our preferred middleware solution that PulseTile sits on for our demos is one we have developed and open sourced-  known as Qewd Courier, see here
https://github.com/QEWD-Courier
and latest version
https://githu

[2020-08-18 09:08] #109 closed, assigned to nobody